.todoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #C2EDC2;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
}

.todoWrapper h1 {
    margin-bottom: 0;
}

.todoUl {
    padding: 0;
}